@charset "UTF-8";
/* 푸터 구역 스타일 */
.ft { clear:both; width: 100%; box-shadow:0px -10px 30px #ccc; }
.ft::after { content:""; display:block; width: 100%; clear: both; }
.ft_wrap { clear:both; width: 100%; border-bottom:1px solid #eee; padding-bottom: 30px;
    padding-top: 30px; }
.ft_link { clear:both; width: 1200px; margin: 0 auto; }
.ft_link::after { content:""; display:block; width: 100%; clear: both; }
.fnb { float:left; }
.fnb::after { content:""; display:block; width: 100%; clear: both; }
.fnb li { float:left; }
.fnb li:nth-child(2)::after { content:"|"; padding-left: 30px; padding-right: 30px;  }
.snb { float:right; }
.snb::after { content:""; display:block; width: 100%; clear: both; }
.snb li { float:left; margin-left: 14px; background-repeat: no-repeat;
    background-image: url("../img/ico_foot_sns.png"); margin-top:10px;
    border-radius:20px; }
.snb li a { display:block; width: 34px; height: 34px; overflow:hidden;
    text-indent: -9999px; border-radius:20px; }
.snb li.item1 { background-position: 0 0; }
.snb li.item2 { background-position: -34px 0; }
.snb li.item3 { background-position: -68px 0; }
.snb li.item4 { background-position: -102px 0; }
.snb li.item5 { background-position: -136px 0; }

.snb li.locate { background-image: none; width: 200px; height: 34px; margin-top: 0; line-height: 48px; }
.snb li.locate option { display:block; height: 48px; line-height: 48px; min-height:48px;     }
.ft_link li { line-height: 48px; }
#sel { height: 34px; width: 200px; }

.ft_wrap2 { clear:both; width:1200px; margin: 0 auto; padding-bottom: 30px; padding-top: 30px; }
.copyright { line-height:20px; font-size:12px; }
.copyright span::after { content:"|"; padding-left: 20px; padding-right: 20px; color:#ccc; }
.copyright span.end::after { content:""; padding-right: 0; }

.cp { font-size: 12px; color:#ccc; line-height: 20px; }

.totop { display:block; width:42px; height: 42px; text-align: center; line-height: 42px;
    background-color: rgba(0,0,0,0.8); color:#fff; font-size:30px; 
    position:fixed; right:60px; bottom:30px; border-radius:26px; }